**/.DS_Store
**/__pycache__
.idea
.python-version
.venv
.vscode
.wandb
TODO.txt
tmp
*.ckpt
*.gif
*.heic
*.heif
*.jpg
*.json
*.mov
*.mp4
*.png
*.pt
*.safetensors
*.safetensors
*.safetensors.index.json
*.safetensors.index.json.lock
*.webp
configs/*.yaml
!configs/ltxv_2b_full.yaml
!configs/ltxv_2b_lora.yaml
!configs/ltxv_2b_lora_low_vram.yaml
outputs
